<ion-header>
  <ion-toolbar>
    <ion-title text-center>Estadistícas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Status Servicios</ion-card-subtitle>
    </ion-card-header>
    <canvas #barChart></canvas>
    <br />
    <br />
  </ion-card>
  <br />
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Calificaciones</ion-card-subtitle>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png" />
        </ion-avatar>
        <ion-label>
          <h2>Bepop</h2>
          <h3>Calificación: 3</h3>
          <p>$120.000</p>
        </ion-label>
        <ion-avatar slot="end">5KM</ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>
  <br />
</ion-content>
