<ion-header>
  <ion-toolbar>
    <ion-title text-center>Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <div padding *ngIf="serviceInfo">
    <iframe
      *ngIf="serviceInfo.dirRecogida && serviceInfo.dirDestino"
      [src]="'https://www.google.com/maps/embed/v1/directions?key=AIzaSyB1KLpJ1-CMeux7HEZZnO_CNdtfr7o0cWI&origin='+encodeURL(serviceInfo.dirRecogida +' '+serviceInfo.dirRecogidaExtra)+ ', Colombia&destination='+ encodeURL(serviceInfo.dirDestino + ' ' + serviceInfo.dirDestinoExtra) + ', Colombia&avoid=tolls|highways&zoom=12'  | safe"
      title="W3Schools Free Online Web Tutorials"
    >
    </iframe>
    <p text-center>Tu código de transacción es:</p>
    <p text-center>
      <ion-icon name="arrow-up"></ion-icon>
    </p>
    <p text-center># {{myServiceId}}</p>
    <p text-center>
      <ion-icon name="pin"></ion-icon>
    </p>
    <div class="address-container">
      <div>
        <p>Origen</p>
        <p><strong>{{ serviceInfo.dirRecogida }}</strong></p>
      </div>
      <div>
        <p>Destino:</p>
        <p><strong>{{ serviceInfo.dirDestino }}</strong></p>
      </div>
    </div>

    <div class="driver-card" *ngIf="serviceInfo.status === 'PENDING'">
      <img src="assets/img/acarreos.PNG" alt="" />
      <div class="detail-user">
        <strong>Esperando conductor...</strong>
      </div>
      <div class="blue"></div>
    </div>
    <div class="driver-card" *ngIf="serviceInfo.status === 'TAKEN'">
      <img src="assets/img/acarreos.PNG" alt="" />
      <div class="detail-user">
        <strong>Nombre :</strong>{{driverInfo.name}}
        <br />
        <strong>Telefono :</strong>{{driverInfo.phone}}
        <p>5 trayectos</p>
      </div>
      <div class="blue">Acarreos</div>
    </div>
    <h1></h1>
    <div class="info_driver">
      <ion-card>
        <ion-card-header>
          <ion-card-title
            ><strong>Información del Vehículo </strong></ion-card-title
          >
        </ion-card-header>

        <ion-card-content>
          <strong>Tecnomecanica :</strong>{{driverInfo.tecno}}<br />
          <strong>SOAT :</strong>{{driverInfo.soat}}<br />
          <strong>PLACA :</strong>{{driverInfo.license_plate}}<br />
          <strong>Licensia :</strong>{{driverInfo.type_license}}<br />
        </ion-card-content>
      </ion-card>
    </div>
    <div class="info_driver">
      <ion-card>
        <ion-card-header>
          <ion-card-title>I<strong>nformación Viaje</strong></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div *ngIf="serviceInfo.tipoVehiculo === 1">
            <strong><h1>Carry</h1></strong>
            <img src="assets/img/carry.jpeg" width="330px" />
          </div>
          <div *ngIf="serviceInfo.tipoVehiculo === 2">
            <strong><h1>TIPO LUV</h1></strong>
            <img src="assets/img/luv.jpeg" width="330px" />
          </div>
          <div *ngIf="serviceInfo.tipoVehiculo === 3">
            <strong> <h1>TIPO 150</h1></strong>
            <img src="assets/img/150.jpeg" width="330px" />
          </div>
          <div *ngIf="serviceInfo.tipoVehiculo === 4">
            <strong> <h1>TIPO 250</h1></strong>
            <img src="assets/img/250.jpeg" width="330px" />
          </div>
          <div *ngIf="serviceInfo.tipoVehiculo === 5">
            <strong><h1>TIPO 450</h1></strong>
            <img src="assets/img/450.jpeg" width="330px" />
          </div>
          <div *ngIf="serviceInfo.tipoVehiculo === 6">
            <strong><h1>TIPO 600</h1></strong>
            <img src="assets/img/600.jpeg" width="330px" />
          </div>
          <strong>Fecha creación : :</strong>{{serviceInfo.date | date}}<br />
          <strong>Fecha recogida :</strong>{{serviceInfo.fechaRecogida}}<br />
          <strong>Tipo de vehículo :</strong>{{serviceInfo.tipoVehiculo}}<br />
          <strong>Anotaciones :</strong>{{serviceInfo.anotaciones}}<br />
        </ion-card-content>
      </ion-card>
    </div>
    <ion-button
      class="goodfont boton"
      margin-bottom
      mode="ios"
      *ngIf="serviceInfo.status === 'TAKEN' && driverInfo && driverInfo.type === 'operator' "
      expand="block"
      (click)="terminarViaje()"
      >Terminar</ion-button
    >
    <br />
    <br />
    <br />
    <br />
  </div>
</ion-content>
