p {
  margin-top: 0px;
  margin-bottom: 5px;
  color: rgba(128, 128, 128, 0.8);
}
.item-profile {
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.item-detail {
  width: 100%;
  background: white;
  position: absolute;
}
.payment {
  height: 50px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.driver-card {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  img {
    height: 50px;
  }
  .detail-user {
    flex: 2;
    padding-left: 10px;
    p {
      text-align: left;
      margin: 0;
    }
  }
  .blue {
    color: #4c6ade;
    font-weight: bold;
  }
}

.address-container {
  display: flex;
  justify-content: space-around;
  div {
    p {
      strong {
        color: black;
      }
    }
  }
}

iframe {
  width: 100%;
  height: 200px;
  border: none;
}

.info_driver {
  font-size: 20px;
}
