<ion-header no-border>
  <ion-toolbar no-border>
    <ion-title text-center>Cuenta usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="form">
    <div text-center>
      <img
        *ngIf="img !== 'null' && img && !urlImage"
        src="{{img}}"
        class="circle"
        width="110px"
      />
      <img
        *ngIf="img !== 'null' && urlImage"
        [src]="urlImage | async"
        class="circle"
        width="110px"
      />
      <img
        *ngIf="img === 'null' || !urlImage && !img"
        src="assets/user.svg"
        width="110px"
      />
    </div>

    <div margin-bottom margin-top text-center>
      <label class="custom-file-upload" style="margin: auto; max-width: 400px">
        <input
          id="file-upload"
          placeholder="Seleciona imagen"
          type="file"
          accept=".png, .jpg"
          (change)="onUpload($event)"
        />
        <ion-icon margin-right name="cloud-download"></ion-icon> Cargar foto
      </label>
    </div>
    <ion-item no-lines margin-bottom margin-bottom>
      <ion-label class="labelTitle" position="floating"
        >Nombres y apellidos</ion-label
      >
      <ion-input
        class="inputForm"
        (keyup.enter)="moveFocus(c)"
        type="text"
        #b
        placeholder="Name"
        [(ngModel)]="name"
      ></ion-input>
    </ion-item>
    <ion-item no-lines margin-bottom margin-bottom>
      <ion-label class="labelTitle" position="floating">Email</ion-label>
      <ion-input class="inputForm" [(ngModel)]="mail" disabled></ion-input>
    </ion-item>
    <ion-item no-lines margin-bottom margin-bottom>
      <ion-label class="labelTitle" position="floating">Celular </ion-label>
      <ion-input
        class="inputForm"
        #c
        (keyup.enter)="moveFocus(d)"
        type="text"
        placeholder="Phone"
        [(ngModel)]="phone"
      ></ion-input>
    </ion-item>

    <ion-item no-lines margin-bottom margin-bottom>
      <ion-label class="labelTitle" position="floating">Dirección</ion-label>
      <ion-input
        class="inputForm"
        #d
        (keyup.enter)="save(name, phone,adress)"
        type="text"
        placeholder="Direcction"
        [(ngModel)]="adress"
      >
      </ion-input>
    </ion-item>

    <input
      #imageProd
      type="hidden"
      [value]="urlImage | async"
      style="color: black"
    />
    <ion-button
      class="goodfont boton"
      margin-bottom
      mode="ios"
      expand="block"
      (click)="save(name, phone,adress, username)"
      >Guardar</ion-button
    >
  </div>
</ion-content>
