.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
h4 {
  color: #222428;
  font-size: 17px;
  font-weight: bold;
}

#file-upload {
  font-size: 14px;
}

.titulo {
  color: #fcd000;
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.boton ion-button {
  height: 39px;
  border-radius: 50px;
  font-size: 17px;
  font-weight: bold;
}

.sep {
  margin-top: 10px;
}
h2 {
  font-size: 1.5rem;
  color: #232b38;
}

.input-card {
  border-radius: 5rem;
  background: #f5f6f7;
  box-shadow: 0 3px 80px rgba(39, 68, 74, 0.2);
}

form.input-box {
  border: 2px solid #c5cccd;
  border-radius: 1rem;
  background: #ffffff;
  transition: 0.2s all;
}

form.input-box:focus-within {
  border: 2px solid #02c4d9;
}

form.input-box:focus-within.error {
  border: 2px solid #f54d3d;
}

input {
  border: none;
  background: transparent;
  padding: 1.125rem 1rem;
  width: 95%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.2s all;
}

input:not(:last-child) {
  border-bottom: 2px solid #eceeee;
}

input::placeholder {
  color: #9da8ab;
}

input:focus {
  outline: none;
  color: #08242a;
  padding: 2rem 1rem;
}

input:focus::placeholder {
  color: #758589;
}

input.error {
  color: #f54d3d;
}

input.success {
  color: #02c4d9;
}

.buttone {
  position: relative;
  border: none;
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 99999px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  transition: 0.2s all;
  transition-timing-function: ease;
}

.buttone:hover {
  transform: translatey(3px);
}

.buttone:focus {
  outline: none;
}

.buttone.teal {
  background-color: #02c4d9;
  box-shadow: 0 7px 50px rgba(2, 196, 217, 0.5);
  color: #ffffff;
}

.buttone.teal:hover {
  box-shadow: 0 2px 10px rgba(2, 196, 217, 0.5);
}

.buttone.google {
  background-color: #ffffff;
  box-shadow: 0 3px 20px rgba(39, 68, 74, 0.2);
  color: #506569;
  font-weight: 600;
  font-size: 22px;
  line-height: 1rem;
}

.buttone.google > img {
  height: 20px;
  width: 20px;
}

.buttone.google:hover {
  box-shadow: 0 1px 5px rgba(39, 68, 74, 0.2);
}

.ionicon {
  font-size: 90px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

//estilo de input tipo file el que debes modificar es la clase .custom-file-upload

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: var(--ion-color-primary);
}
.goodfont {
  text-align: center;
}
.circle {
  border-radius: 50%;
}
