<ion-header>
  <ion-toolbar>
    <ion-title text-center>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      no-lines
      *ngFor="let item of tripsHistory"
      (click)="detailTrip(item.id)"
    >
      <ion-avatar slot="start">
        <img src="assets/img/acarreos.PNG" />
      </ion-avatar>
      <ion-label>
        <h2>{{item.data.dirDestino}}</h2>
        <h3>{{item.data.dirRecogida}}</h3>
        <p>{{item.data.fechaRecogida}}</p>
      </ion-label>
      <ion-badge slot="end">{{translateStatus(item.data.status)}}</ion-badge>
      <ion-avatar slot="end">
        <strong>Ver</strong>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
