ion-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-item {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
