<ion-header>
  <ion-toolbar>
    <ion-title text-center>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <img src="assets/img/logoicon.png" class="login-image" />
    <p text-center>Selecciona tus servicio</p>
    <div class="services-container">
      <div class="service-card" (click)="openItem(1)">
        <img src="assets/img/acarreos.PNG" alt="" />
        <div>
          <strong>ACARREOS</strong>
          <small
            >Transporte de carga de menor tamaño, a nivel urbano y nacional.
          </small>
        </div>
      </div>
      <div class="service-card" (click)="openItem(2)">
        <img src="assets/img/mudanza.PNG" alt="" />
        <div>
          <strong>MUDANZA</strong>
          <small
            >Servicio de transporte de carga de gran tamaño, a nivel urbano y
            nacional.
          </small>
        </div>
      </div>
      <div class="service-card" (click)="openItem(3)">
        <img src="assets/img/grua.PNG" alt="" />
        <div>
          <strong>GRÚA CARRO</strong>
          <small
            >Servicio de transporte de motos, en grúa o camioneta, con vehículos
            debidamente equipados.
          </small>
        </div>
      </div>
      <div class="service-card" (click)="openItem(4)">
        <img src="assets/img/moto.PNG" alt="" />
        <div>
          <strong>GRÚA MOTO</strong>
          <small>Servicios de grúa de manera inmediata. </small>
        </div>
      </div>
    </div>
  </div>
</ion-content>
