.button-container {
  display: flex;
  button {
    margin: 3px;
  }
}
.services-container {
  .service-card {
    border: 1px solid rgba(128, 128, 128, 0.49);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    text-align: center;
    background: white;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    img {
      height: 80px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding-left: 20px;
      margin: auto;
      small {
        color: rgba(88, 88, 88, 0.6);
      }
    }
  }
}
