<ion-content padding text-center>
  <div class="form">
    <img src="assets/img/logoicon.png" class="login-image" />
    <h1>Ingresa a Acarreos Fácil</h1>
    <p>Por favor ingresa con tus credenciales</p>
    <br />
    <ion-list margin-top margin-bottom>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Email</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          tabindex="20"
          (keyup.enter)="moveFocus(b)"
          placeholder="Email"
          [(ngModel)]="username"
          required
        ></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Contraseña</ion-label>
        <ion-input
          class="inputForm"
          (keyup.enter)="login()"
          [type]="passwordType"
          #b
          placeholder="Password"
          [(ngModel)]="password"
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <br />
    <ion-button
      class="goodfont boton"
      margin-bottom
      mode="ios"
      expand="block"
      (click)="login()"
      >Iniciar sesión</ion-button
    >
    <p class="register-text" (click)="goRegister()">
      ¿No tienes cuenta aún? <strong><a> Regístrate</a></strong>
    </p>
    <p class="register-text" (click)="goRecoverPassword()">
      <strong><a>¿Olvidaste tu contraseña?</a></strong>
    </p>
  </div>
</ion-content>
