.scroll-content {
  background-color: #020333 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-content {
  display: flex;
  align-content: center;
  justify-content: center;
}
img {
  height: 200px;
  margin: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 200px;
}
