<ion-content padding text-center>
  <div class="form">
    <img src="assets/img/logoicon.png" class="login-image" />
    <h1>Recupera tu contraseña</h1>
    <p>Por favor ingresa con tu correo</p>
    <br />
    <ion-list margin-top margin-bottom>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Email</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          tabindex="20"
          (keyup.enter)="moveFocus(b)"
          placeholder="Email"
          [(ngModel)]="username"
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <br />
    <ion-button
      class="goodfont boton"
      margin-bottom
      mode="ios"
      expand="block"
      [disabled]="username.trim().length===0"
      (click)="recover()"
      >Recuperar</ion-button
    >
    <p class="register-text" (click)="goLogin()">
      ¿Ya tienes una cuenta? <strong><a> Ingresa</a></strong>
    </p>
  </div>
</ion-content>
