<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      tab="stats"
      *ngIf="this.userDATA && this.userDATA.type === 'operator'"
    >
      <ion-icon name="stats"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="service">
      <ion-icon name="car"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="trips">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>
    <!--<ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>-->
    <ion-tab-button tab="logout">
      <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings" class="hiddenTab">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" class="hiddenTab">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" class="hiddenTab">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <div class="whatsapp">
    <a
      target="_blank"
      href="https://web.whatsapp.com/send?phone=573112527551&text=Hola%20estoy%20interesado%20en%20un%20servicio."
    >
      <img src="assets/img/whats.svg" />
    </a>
  </div>
</ion-tabs>
