.hiddenTab {
  pointer-events: none;
  opacity: 0;
}

.whatsapp {
  position: absolute;
  height: 70px;
  width: 70px;
  background: #10dc60;
  bottom: 10px;
  right: 10px;
  z-index: 9999999;
  border-radius: 50%;
}
