<ion-content padding text-center>
  <div class="form">
    <img src="assets/img/logoicon.png" class="login-image" />
    <h1>Regístrate aquí - Conductor</h1>
    <p>Gratis. Sin necesidad de tarjeta de crédito</p>
    <ion-list>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating"
          >Nombres y apellidos</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Nombres y apellidos"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Dirección</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Dirección"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="address"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Celular</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Celular"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="phone"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Email</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Email"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Contraseña</ion-label>
        <ion-input
          class="inputForm"
          [type]="passwordType"
          #b
          type="password"
          (keyup.enter)="moveFocus(c)"
          placeholder="Contraseña"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-input
          class="inputForm"
          [type]="passwordType"
          #c
          placeholder="Repetir contraseña"
          type="password"
          [(ngModel)]="cpassword"
        ></ion-input>
      </ion-item>
      <br />
    </ion-list>
    <h1>Datos conductor</h1>
    <p>------</p>
    <ion-list>
      <ion-item no-lines>
        <ion-label>Tipo vehículo</ion-label>
        <ion-select [(ngModel)]="type_car" okText="Ok" cancelText="Cancelar">
          <ion-select-option value="1">Tipo Carry</ion-select-option>
          <ion-select-option value="2">Camioneta tipo LUV</ion-select-option>
          <ion-select-option value="3">Tipo NHR (150)</ion-select-option>
          <ion-select-option value="4">Tipo NKR (250)</ion-select-option>
          <ion-select-option value="5">Tipo NPR (450)</ion-select-option>
          <ion-select-option value="6">Tipo FRR (600)</ion-select-option>
        </ion-select>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label>Tipo licensia</ion-label>
        <ion-select
          [(ngModel)]="type_license"
          okText="Ok"
          cancelText="Cancelar"
        >
          <ion-select-option value="A1"
            >A1: motocicletas de menos de 125 centímetros
            cúbicos.</ion-select-option
          >
          <ion-select-option value="A2"
            >A2: motocicletas de más de 125 centímetros
            cúbicos.</ion-select-option
          >
          <ion-select-option value="B1"
            >B1: automóviles, motocarros, cuatrimotos, camperos, camionetas y
            microbuses.</ion-select-option
          >
          <ion-select-option value="B2"
            >B2: camiones rígidos, busetas y buses.</ion-select-option
          >
          <ion-select-option value="B3"
            >B3: vehículos articulados y tractocamiones de servicio
            particular.</ion-select-option
          >
        </ion-select>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Placa</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Placa"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="license_plate"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Soat</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Soat"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="soat"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating"
          >Tecnomecanica</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Tecnomecanica"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="tecno"
        ></ion-input>
      </ion-item>
      <br />
    </ion-list>
    <br />
    <ion-button
      class="goodfont boton"
      mode="ios"
      fill="solid"
      expand="block"
      color="primary"
      (click)="register()"
      [disabled]="
        email.trim().length === 0 ||
        password.trim().length === 0 ||
        cpassword.trim().length === 0 ||
        name.trim().length === 0 ||
        address.trim().length === 0 ||
        phone.trim().length === 0 ||
        phone.trim().length === 0 ||
        type_car.trim().length === 0 ||
        type_license.trim().length === 0 ||
        license_plate.trim().length === 0 ||
        soat.trim().length === 0 ||
        tecno.trim().length === 0
      "
      >Registrar</ion-button
    >
    <br />
    <p class="register-text" (click)="goLogin()">
      ¿Ya tienes cuenta? <strong><a> Ingresa aquí</a></strong>
    </p>
  </div>
</ion-content>
