<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/service']">
        <ion-icon
          mode="ios"
          color="primary"
          slot="icon-only"
          name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Formulario Grúa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll="false">
  <div padding>
    <img src="assets/img/logoicon.png" class="login-image" />
    <h1>Grúa</h1>
    <p><strong>Por favor ingrese los datos para su servicio</strong></p>

    <ion-list margin-top margin-bottom>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >Fecha recogida</ion-label
        >
        <ion-input
          class="inputForm"
          type="date"
          placeholder="Fecha recogida"
          [(ngModel)]="formAcarreo.fechaRecogida"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >Dirección Origen</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Dirección Origen"
          [(ngModel)]="formAcarreo.dirRecogida"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >(piso, apto , bodega )</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Dirección Origen"
          [(ngModel)]="formAcarreo.dirRecogidaExtra"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >Placa vehículo</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="ABC123"
          [(ngModel)]="formAcarreo.placa_vehiculo"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked">Anotaciones</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Anotaciones"
          [(ngModel)]="formAcarreo.anotaciones"
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      [disabled]="!checkForm()"
      class="goodfont boton"
      margin-bottom
      mode="ios"
      expand="block"
      (click)="crearViaje()"
      >SOLICITAR</ion-button
    >
    <br />
    <br />
    <br />
    <br />
  </div>
</ion-content>
