<ion-content scroll="false">
  <div padding>
    <img src="assets/img/logoicon.png" class="login-image" />
    <h1>Regístrate Gratis aquí</h1>
    <p>No necesitas de tarjeta de crédito</p>

    <div class="card-container">
      <div
        class="card"
        (click)="selectLogin(1)"
        [ngClass]="{'activeCard': selectedLogin === 1}"
      >
        <img src="assets/img/cliente.png" class="login-image" />
        <span><strong>Cliente</strong></span>
        <p>Solicite sus servicios con acarreofácil de manera inmediata</p>
      </div>
      <div
        class="card"
        (click)="selectLogin(2)"
        [ngClass]="{'activeCard': selectedLogin === 2}"
      >
        <img src="assets/img/empresa.png" class="login-image" />
        <span><strong>Operador</strong></span>
        <p>Plataforma de control y monitoreo para el servicio</p>
      </div>
    </div>
    <ion-button
      class="goodfont boton"
      margin-bottom
      mode="ios"
      [disabled]="selectedLogin === 0"
      expand="block"
      (click)="signup()"
      >Crear cuenta</ion-button
    >
    <p>
      ¿ya tienes una cuenta?
      <a> <strong (click)="login()">Ingresa aquí</strong></a>
    </p>
  </div>
</ion-content>
