<ion-header no-border>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon
          mode="ios"
          color="primary"
          slot="icon-only"
          name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios" color="primary"></ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goedit()">
        <ion-icon color="primary" name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form" *ngIf="empty">
    <div text-center>
      <img
        text-center
        class="circle"
        src="{{item[0].payload.doc.data().img}}"
        alt=""
      />
    </div>

    <h2 class="goodfont" style="font-weight: bold" text-center>
      @{{item[0].payload.doc.data().username}}
    </h2>
    <h3 text-center>{{item[0].payload.doc.data().name}}</h3>

    <div text-center>
      <!--  More thing of the profile 
      <p> {{item[0].payload.doc.data().phone}}</p>
      <p> {{item[0].payload.doc.data().mail}}</p>
      <p> {{item[0].payload.doc.data().adress}}</p> -->
    </div>
    <br /><br />

    <br />

    <ion-list padding>
      <ion-item no-lines>
        <ion-icon slot="start" name="moon"></ion-icon>
        Dark mode
        <ion-toggle
          (ionChange)="update($event)"
          slot="end"
          color="primary"
        ></ion-toggle>
      </ion-item>

      <ion-item no-lines>
        <ion-icon color="primary" slot="start" name="notifications"></ion-icon>
        Notifications
      </ion-item>
      <ion-item no-lines>
        <ion-icon color="tertiary" slot="start" name="mail-unread"></ion-icon>
        News
        <ion-toggle slot="end" color="primary"></ion-toggle>
      </ion-item>
      <ion-item no-lines>
        <ion-icon color="secondary" slot="start" name="settings"></ion-icon>
        Setting and privacy
      </ion-item>

      <ion-item no-lines>
        <ion-icon color="success" slot="start" name="help"></ion-icon>
        Help center
      </ion-item>
      <ion-item no-lines (click)="signOut()">
        <ion-icon color="danger" slot="start" name="log-out"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p style="color: gray; font-size: 13px" text-center bold>
      User id : {{ uid }}
    </p>

    <br />
    <br />
  </div>

  <div class="form" text-center *ngIf="!empty">
    <ion-grid>
      <ion-row>
        <ion-col size="12" text-center>
          <img
            width="200px"
            style="margin-top: 32px"
            src="assets/user.svg"
            alt=""
          />
        </ion-col>
        <ion-col size="12" text-center>
          <h3>Fill your profile</h3>
        </ion-col>
        <ion-col size="12" text-center>
          <ion-button (click)="goedit()">Fill it</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
