// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// App iOS Variables

.login-image {
  display: flex;
  margin: auto;
  height: 150px;
}
h1 {
  text-align: center;
  font-weight: 400;
}

.card-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  .card {
    border: 1px solid rgba(128, 128, 128, 0.49);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
      height: 50px;
    }
    span {
      margin-top: 5px;
    }
    p {
      color: rgba(128, 128, 128, 0.8);
    }
  }
}

// --------------------------------------------------
// iOS only Sass variables can go here
//forms
.form-container {
  label {
    color: #c1c4c7;
    display: flex;
    flex-direction: column;
    input {
      margin-top: 5px;
      color: black;
      border: 1px solid#dcdddf;
      border-radius: 5px;
      padding: 10px;
      background-color: #f9fbfe;
      &.readonly {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

//forms
.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none;
}
//ionic
.tabbar {
  left: 0px;
  bottom: inherit;
  flex-direction: column;
  width: 55px;
  height: 100%;
  display: block;
  a {
    width: 50px;
    height: 50px;
    display: flex;
    flex: 1;
  }
}
.button-inner {
  padding-left: 5px;
}
.toolbar-title {
  text-align: center;
}
.fixed-content {
  margin-bottom: 0px !important;
}
.scroll-content {
  margin-bottom: 0px !important;
}
//buttons
button {
  box-shadow: none !important;
  text-transform: capitalize !important;
  height: 4rem !important;
  border-radius: 0px !important;
}

.inline-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  input {
    width: 100%;
    margin: 1px;
  }
}
ion-tab-bar {
  position: absolute;
  z-index: 1000;
  width: 45px;
  height: 100%;
  display: grid;
}
.tabs-inner {
  margin-left: 40px;
}
$padding-end: 50px;
//Input custom css
ion-input {
  --background: #f9fafe;
  //--border: 1px solid red;
  border: 1px solid #dadef3;
  border-radius: 5px;
  padding-left: 5px;
  --padding-end: $padding-end;
  --padding-start: $padding-end;
  --padding-start: 100px;
  .native-input {
    --padding-end: $padding-end;
    --padding-start: $padding-end;
  }
}

ion-input::shadow input {
  color: red;
}
ion-item {
  --border-style: none;
}

ion-item {
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}

.labelTitle {
  font-weight: bold;
  font-size: large;
}
