.payment {
  display: flex;
  margin: auto;
}
.cont_vehiculos {
  display: flex;
  justify-content: space-between;
  div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.cont_button_vehiculo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.invalid {
  border: 1px solid red;
}
