<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/service']">
        <ion-icon
          mode="ios"
          color="primary"
          slot="icon-only"
          name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Formulario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll="false">
  <div padding>
    <img src="assets/img/logoicon.png" class="login-image" />
    <h1>Acarreos</h1>
    <p text-center>
      <strong>Por favor ingrese los datos para su servicio</strong>
    </p>

    <ion-list margin-top margin-bottom>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >Fecha recogida</ion-label
        >
        <ion-input
          [ngClass]="{'invalid':!formAcarreo.fechaRecogida}"
          class="inputForm"
          type="date"
          placeholder="Fecha recogida"
          [(ngModel)]="formAcarreo.fechaRecogida"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="labelTitle" position="stacked"
          >Tipo de vehículo</ion-label
        >
        <div class="cont_vehiculos">
          <div *ngIf="formAcarreo.tipoVehiculo === 1">
            <strong><h1>Tipo Carry</h1></strong>
            <img src="assets/img/Carri.jpg" width="330px" />
            <strong><p>2 metros cúbicos - 700 Kilogramos</p></strong>
          </div>
          <div *ngIf="formAcarreo.tipoVehiculo === 2">
            <strong><h1>Camioneta tipo LUV</h1></strong>
            <img src="assets/img/luv.jpeg" width="330px" />
            <strong><p>8 metros cubicos - 1.000 Kilogramos</p></strong>
          </div>
          <div *ngIf="formAcarreo.tipoVehiculo === 3">
            <strong> <h1>Tipo NHR (150)</h1></strong>
            <img src="assets/img/nhr.png" width="330px" />
            <strong><p>2 Toneladas - 15 metros cúbicos</p></strong>
          </div>
          <div *ngIf="formAcarreo.tipoVehiculo === 4">
            <strong> <h1>Tipo NKR (250)</h1></strong>
            <img src="assets/img/NKR.png" width="330px" />
            <strong><p>3 Toneladas - 28 metros cúbicos</p></strong>
          </div>
          <div *ngIf="formAcarreo.tipoVehiculo === 5">
            <strong><h1>Tipo NPR (450)</h1></strong>
            <img src="assets/img/NPR.jpg" width="330px" />
            <strong><p>4 Toneladas - 36 metros cùbicos</p></strong>
          </div>
          <div *ngIf="formAcarreo.tipoVehiculo === 6">
            <strong><h1>Tipo FRR (600)</h1></strong>
            <img src="assets/img/FRR.jpg" width="330px" />
            <strong><p>5 Toneladas</p></strong>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="cont_button_vehiculo">
          <ion-button
            [disabled]="formAcarreo.tipoVehiculo === 1"
            class="goodfont boton"
            margin-bottom
            mode="ios"
            (click)="prev()"
            >Anterior</ion-button
          >
          <ion-button
            [disabled]="formAcarreo.tipoVehiculo === 6"
            class="goodfont boton"
            margin-bottom
            mode="ios"
            (click)="next()"
            >Siguiente</ion-button
          >
        </div>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked" class="labelTitle"
          >Dirección Origen</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Dirección Origen"
          [(ngModel)]="formAcarreo.dirRecogida"
          [ngClass]="{'invalid':formAcarreo.dirRecogida=== ''}"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >(piso, apto , bodega )</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Complemento ( Piso, Apto, Oficina)"
          [(ngModel)]="formAcarreo.dirRecogidaExtra"
          [ngClass]="{'invalid':formAcarreo.dirRecogidaExtra=== ''}"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >Dirección Destino</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Dirección Destino"
          [ngClass]="{'invalid':formAcarreo.dirDestino=== ''}"
          [(ngModel)]="formAcarreo.dirDestino"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >(piso, apto , bodega )</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Complemento ( Piso, Apto, Oficina)"
          [(ngModel)]="formAcarreo.dirDestinoExtra"
          [ngClass]="{'invalid':formAcarreo.dirDestinoExtra=== ''}"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="stacked"
          >Objetos a transportar</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Objetos a transportar"
          [ngClass]="{'invalid':formAcarreo.objetosTrastear=== ''}"
          [(ngModel)]="formAcarreo.objetosTrastear"
          required
        ></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Ascensor</ion-label>
        <ion-checkbox
          slot="end"
          [(ngModel)]="formAcarreo.ascensor"
        ></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>Escalera</ion-label>
        <ion-checkbox
          slot="end"
          [(ngModel)]="formAcarreo.escalera"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button
      [disabled]="!checkForm()"
      class="goodfont boton"
      margin-bottom
      mode="ios"
      expand="block"
      (click)="crearViaje()"
      >SOLICITAR</ion-button
    >
    <br />
    <br />
    <br />
    <br />
  </div>
</ion-content>
