<ion-content padding text-center>
  <div class="form">
    <img src="assets/img/logoicon.png" class="login-image" />
    <h1>Regístrate aquí</h1>
    <p>Gratis. Sin necesidad de tarjeta de crédito</p>
    <ion-list>
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating"
          >Nombres y apellidos</ion-label
        >
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Nombres y apellidos"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Dirección</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Dirección"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="address"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Celular</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Celular"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="phone"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Email</ion-label>
        <ion-input
          class="inputForm"
          type="text"
          placeholder="Email"
          (keyup.enter)="moveFocus(b)"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating">Contraseña</ion-label>
        <ion-input
          class="inputForm"
          [type]="passwordType"
          #b
          type="password"
          (keyup.enter)="moveFocus(c)"
          placeholder="Contraseña"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item no-lines>
        <ion-label class="labelTitle" position="floating"
          >Repetir contraseña</ion-label
        >
        <ion-input
          class="inputForm"
          (keyup.enter)="register()"
          [type]="passwordType"
          #c
          placeholder="Repetir contraseña"
          type="password"
          [(ngModel)]="cpassword"
        ></ion-input>
      </ion-item>
    </ion-list>
    <br />
    <ion-button
      class="goodfont boton"
      mode="ios"
      fill="solid"
      expand="block"
      color="primary"
      [disabled]="
      email.trim().length === 0 ||
password.trim().length === 0 ||
cpassword.trim().length === 0 ||
name.trim().length === 0 ||
phone.trim().length === 0
      "
      (click)="register()"
      >Registrar</ion-button
    >
    <br />
    <p class="register-text" (click)="goLogin()">
      ¿Ya tienes cuenta? <strong><a> Ingresa aquí</a></strong>
    </p>
  </div>
</ion-content>
